@page

@{
    Html.RenderPartial("Shared/header.cshtml");
}

<div class="container" id="index" style="height:200px;">

    <p style="font-size:56px">GoogleMap API</p>

</div>


@{
    Html.RenderPartial("Shared/footer.cshtml");
}